<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="acrServers" type="Adf.Config.IpGroupSection,Adf"/>
  </configSections>
  <appSettings>
    <!--
      高可用配置，Master/Slave configuration , see：
      http://www.aooshi.org/adf/517.html
    -->
    <add key="HA:Node1" value="192.168.199.12:8123"/>
    <add key="HA:Node2" value="192.168.199.13:8123"/>
    <add key="HA:Node3" value="192.168.199.49:8123"/>
    <add key="HA:Keepalive" value="5"/>
    <add key="HA:ElectTimeout" value="5"/>
    <!-- 若不此路径则HA不会依据最后有效MASTER节点为恢复依据， NODE1/NODE2 将会以启动顺序优先MASTER -->
    <add key="HA:Path" value="c:\data\adf.service"/>
    <!--<add key="HA:Notifys" value="you@hostname.com;you@hostname.com;..."/>-->
    
     <!--日志刷新值--> 
    <add key="Log:FlushInterval" value="10"/>
    <!-- 日志路径 -->
    <add key="Log:Path" value="c:\logs\adf.service"/>
        
    <!-- 禁止安装完成后自动启动 -->
    <!--<add key="ServiceInstalledStart" value="false"/>-->

    <!-- 服务使用的帐户，默认： LocalSystem, 还可系统帐户 LocalService,NetworkService 系统帐户时不配置密码， 自建帐户需配置密码 --> 
    <!--<add key="ServiceUsername" value=""/>-->
    <!--<add key="ServicePassword" value=""/>-->
    
    <!-- 本服务依赖的服务清单，多个以半角分号隔开 -->
    <!--<add key="ServiceDepended" value="server1;server2;server3"/>-->

    <!-- MailSender对象 -->
    <!--<add key="MailRecipients" value="user1@mail.com;user2@mail.com"/>-->
    <!--<add key="SmtpHost" value=""/>-->
    <!--<add key="SmtpPort" value="25"/>-->
    <!--<add key="SmtpAccount" value="service@aooshi.org"/>-->
    <!--<add key="SmtpPassword" value="password"/>-->
    <!--<add key="SmtpSSLEnabled" value="false"/>-->
    
    <!--<add key="SmtpSender" value="service@aooshi.org"/>-->
    <!--<add key="SmtpName" value="system service"/>-->
    
  </appSettings>

  <!-- acrServer check interval, seconds,default 5 -->
  <acrServers check="1">
    <add ip="127.0.0.1" port="8456" />
    <add ip="127.0.0.2" port="8456" />
  </acrServers>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  
</configuration>
