<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>

    <!-- 主辅配置，Master/Slave configuration , see： -->
    <add key="MS:Enable" value="true"/>
    <add key="MS:Listen" value="192.168.199.46:8456"/>
    <add key="MS:Master" value="192.168.199.46:8456"/>
    <add key="MS:Type" value="member"/>
    <add key="MS:DataPath" value="c:\log\adf.service"/>
    <add key="MS:Timeout" value="5"/>
    <!--<add key="MS:MailTo" value="you@hostname.com;you@hostname.com;..."/>
    <add key="MS:MailFrom" value="notify@hostname.com"/>-->
    <!--<add key="MS:OnMaster" value="c:\onmaster.bat"/>
    <add key="MS:OnSlave" value="c:\onslave.bat"/>-->
    <!--<add key="MS:Vip" value="192.168.1.100"/>
    <add key="MS:Ethernet" value="Local Network"/>-->
    
     <!--日志刷新值--> 
    <add key="Log:FlushInterval" value="10"/>
    <!-- 日志路径 -->
    <add key="Log:Path" value="c:\log\adf.service"/>
        
    <!-- MailSender对象 -->
    <!--<add key="MailRecipients" value="user1@mail.com;user2@mail.com"/>-->
    <!--<add key="SmtpHost" value=""/>-->
    <!--<add key="SmtpPort" value="25"/>-->
    <!--<add key="SmtpAccount" value="service@aooshi.org"/>-->
    <!--<add key="SmtpPassword" value="password"/>-->
    <!--<add key="SmtpSSLEnabled" value="false"/>-->
    
    <!--<add key="SmtpSender" value="service@aooshi.org"/>-->
    <!--<add key="SmtpName" value="system service"/>-->
    
  </appSettings>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  
</configuration>
